body {
    font-size: 17px;
}

.about-car {
    padding: 60px 10%;
    background-color: #f9f9f9;
}

.about-title {
    color: #c30000;
    font-weight: bold;
}

.about-heading {
    font-size: 32px;
    color: #002147;
}

.about-divider {
    width: 60px;
    height: 3px;
    background: #c30000;
    border: none;
    margin: 15px 0;
}

.about-intro {
    font-style: italic;
    color: #666;
}

.about-content {
    color: #333;
}

.intro-button button {
    padding: 10px 20px;
    background-color: #c30000;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.stats-container {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.stat-block {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-box {
    background-color: #d62828;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.icon-box img {
    width: 50px;
}

.stat-number {
    font-size: 28px;
    font-weight: bold;
    color: #002147;
}

.stat-label {
    color: #666;
    border-bottom: 2px solid #d62828;
    width: fit-content;
}

.about-section {
    display: flex;
    padding: 60px;
    background-color: #f9f9f9;
}

.about-text {
    flex: 1;
    padding-right: 40px;
}

.about-text h2 {
    color: #1e1e1e;
    font-size: 32px;
    margin-bottom: 20px;
}

.about-text .highlight {
    font-size: 24px;
    line-height: 1.8;
    color: #444;
}

.about-text h3 {
    margin-top: 30px;
    color: #e60012;
}

.about-text p {
    font-size: 16px;
    color: #555;
}

.about-images {
    flex: 1;
}

.about-images img {
    width: 75%;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}